wsdl/BorrowingServiceAPI.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://API.oc.sd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.oc.sd.com/" name="BorrowingAPI">
<types>
<xsd:schema>
<xsd:import namespace="http://API.oc.sd.com/" schemaLocation="http://localhost:8080/biblioservice_API_war/borrowingAPI?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllBorrowing">
<part name="parameters" element="tns:findAllBorrowing"/>
</message>
<message name="findAllBorrowingResponse">
<part name="parameters" element="tns:findAllBorrowingResponse"/>
</message>
<message name="addBorrowing">
<part name="parameters" element="tns:addBorrowing"/>
</message>
<message name="addBorrowingResponse">
<part name="parameters" element="tns:addBorrowingResponse"/>
</message>
<message name="deleteBorrowing">
<part name="parameters" element="tns:deleteBorrowing"/>
</message>
<message name="deleteBorrowingResponse">
<part name="parameters" element="tns:deleteBorrowingResponse"/>
</message>
<message name="extendBorrowing">
<part name="parameters" element="tns:extendBorrowing"/>
</message>
<message name="extendBorrowingResponse">
<part name="parameters" element="tns:extendBorrowingResponse"/>
</message>
<message name="findAllBorrowingOfUser">
<part name="parameters" element="tns:findAllBorrowingOfUser"/>
</message>
<message name="findAllBorrowingOfUserResponse">
<part name="parameters" element="tns:findAllBorrowingOfUserResponse"/>
</message>
<message name="findAllBorrowingOutOfTimeOfUser">
<part name="parameters" element="tns:findAllBorrowingOutOfTimeOfUser"/>
</message>
<message name="findAllBorrowingOutOfTimeOfUserResponse">
<part name="parameters" element="tns:findAllBorrowingOutOfTimeOfUserResponse"/>
</message>
<message name="findAllBorrowingOutOfTime">
<part name="parameters" element="tns:findAllBorrowingOutOfTime"/>
</message>
<message name="findAllBorrowingOutOfTimeResponse">
<part name="parameters" element="tns:findAllBorrowingOutOfTimeResponse"/>
</message>
<portType name="BorrowingServiceAPI">
<operation name="findAllBorrowing">
<input wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingRequest" message="tns:findAllBorrowing"/>
<output wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingResponse" message="tns:findAllBorrowingResponse"/>
</operation>
<operation name="addBorrowing">
<input wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/addBorrowingRequest" message="tns:addBorrowing"/>
<output wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/addBorrowingResponse" message="tns:addBorrowingResponse"/>
</operation>
<operation name="deleteBorrowing">
<input wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/deleteBorrowingRequest" message="tns:deleteBorrowing"/>
<output wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/deleteBorrowingResponse" message="tns:deleteBorrowingResponse"/>
</operation>
<operation name="extendBorrowing">
<input wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/extendBorrowingRequest" message="tns:extendBorrowing"/>
<output wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/extendBorrowingResponse" message="tns:extendBorrowingResponse"/>
</operation>
<operation name="findAllBorrowingOfUser">
<input wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingOfUserRequest" message="tns:findAllBorrowingOfUser"/>
<output wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingOfUserResponse" message="tns:findAllBorrowingOfUserResponse"/>
</operation>
<operation name="findAllBorrowingOutOfTimeOfUser">
<input wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingOutOfTimeOfUserRequest" message="tns:findAllBorrowingOutOfTimeOfUser"/>
<output wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingOutOfTimeOfUserResponse" message="tns:findAllBorrowingOutOfTimeOfUserResponse"/>
</operation>
<operation name="findAllBorrowingOutOfTime">
<input wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingOutOfTimeRequest" message="tns:findAllBorrowingOutOfTime"/>
<output wsam:Action="http://API.oc.sd.com/BorrowingServiceAPI/findAllBorrowingOutOfTimeResponse" message="tns:findAllBorrowingOutOfTimeResponse"/>
</operation>
</portType>
<binding name="BorrowingServiceAPIPortBinding" type="tns:BorrowingServiceAPI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="extendBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllBorrowingOfUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllBorrowingOutOfTimeOfUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllBorrowingOutOfTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BorrowingAPI">
<port name="BorrowingServiceAPIPort" binding="tns:BorrowingServiceAPIPortBinding">
<soap:address location="http://localhost:8080/biblioservice_API_war/borrowingAPI"/>
</port>
</service>
</definitions>