wsdl/ReservationServiceAPI.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://API.oc.sd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.oc.sd.com/" name="ReservationAPI">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://API.oc.sd.com/" schemaLocation="http://localhost:8080/biblioservice_API_war/reservationAPI?xsd=1"/>
        </xsd:schema>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://API.oc.sd.com/" schemaLocation="http://localhost:8080/biblioservice_API_war/reservationAPI?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="findAllReservationOfBookOrderByDate">
        <part name="parameters" element="tns:findAllReservationOfBookOrderByDate"/>
    </message>
    <message name="findAllReservationOfBookOrderByDateResponse">
        <part name="parameters" element="tns:findAllReservationOfBookOrderByDateResponse"/>
    </message>
    <message name="findReservation">
        <part name="parameters" element="tns:findReservation"/>
    </message>
    <message name="findReservationResponse">
        <part name="parameters" element="tns:findReservationResponse"/>
    </message>
    <message name="addReservation">
        <part name="parameters" element="tns:addReservation"/>
    </message>
    <message name="addReservationResponse">
        <part name="parameters" element="tns:addReservationResponse"/>
    </message>
    <message name="deleteReservation">
        <part name="parameters" element="tns:deleteReservation"/>
    </message>
    <message name="deleteReservationResponse">
        <part name="parameters" element="tns:deleteReservationResponse"/>
    </message>
    <message name="findAllReservationOfUser">
        <part name="parameters" element="tns:findAllReservationOfUser"/>
    </message>
    <message name="findAllReservationOfUserResponse">
        <part name="parameters" element="tns:findAllReservationOfUserResponse"/>
    </message>
    <message name="findAllReservations">
        <part name="parameters" element="tns:findAllReservations"/>
    </message>
    <message name="findAllReservationsResponse">
        <part name="parameters" element="tns:findAllReservationsResponse"/>
    </message>
    <message name="setStartDateMailingOfReservation">
        <part name="parameters" element="tns:setStartDateMailingOfReservation"/>
    </message>
    <message name="setStartDateMailingOfReservationResponse">
        <part name="parameters" element="tns:setStartDateMailingOfReservationResponse"/>
    </message>
    <message name="deleteAllReservationOutOfDate">
        <part name="parameters" element="tns:deleteAllReservationOutOfDate"/>
    </message>
    <message name="deleteAllReservationOutOfDateResponse">
        <part name="parameters" element="tns:deleteAllReservationOutOfDateResponse"/>
    </message>
    <portType name="ReservationServiceAPI">
        <operation name="findAllReservationOfBookOrderByDate">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findAllReservationOfBookOrderByDateRequest" message="tns:findAllReservationOfBookOrderByDate"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findAllReservationOfBookOrderByDateResponse" message="tns:findAllReservationOfBookOrderByDateResponse"/>
        </operation>
        <operation name="findReservation">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findReservationRequest" message="tns:findReservation"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findReservationResponse" message="tns:findReservationResponse"/>
        </operation>
        <operation name="addReservation">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/addReservationRequest" message="tns:addReservation"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/addReservationResponse" message="tns:addReservationResponse"/>
        </operation>
        <operation name="deleteReservation">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/deleteReservationRequest" message="tns:deleteReservation"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/deleteReservationResponse" message="tns:deleteReservationResponse"/>
        </operation>
        <operation name="findAllReservationOfUser">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findAllReservationOfUserRequest" message="tns:findAllReservationOfUser"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findAllReservationOfUserResponse" message="tns:findAllReservationOfUserResponse"/>
        </operation>
        <operation name="findAllReservations">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findAllReservationsRequest" message="tns:findAllReservations"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/findAllReservationsResponse" message="tns:findAllReservationsResponse"/>
        </operation>
        <operation name="setStartDateMailingOfReservation">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/setStartDateMailingOfReservationRequest" message="tns:setStartDateMailingOfReservation"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/setStartDateMailingOfReservationResponse" message="tns:setStartDateMailingOfReservationResponse"/>
        </operation>
        <operation name="deleteAllReservationOutOfDate">
            <input wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/deleteAllReservationOutOfDateRequest" message="tns:deleteAllReservationOutOfDate"/>
            <output wsam:Action="http://API.oc.sd.com/ReservationServiceAPI/deleteAllReservationOutOfDateResponse" message="tns:deleteAllReservationOutOfDateResponse"/>
        </operation>
    </portType>
    <binding name="ReservationServiceAPIPortBinding" type="tns:ReservationServiceAPI">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findAllReservationOfBookOrderByDate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findAllReservationOfUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findAllReservations">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setStartDateMailingOfReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteAllReservationOutOfDate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ReservationAPI">
        <port name="ReservationServiceAPIPort" binding="tns:ReservationServiceAPIPortBinding">
            <soap:address location="http://localhost:8080/biblioservice_API_war/reservationAPI"/>
        </port>
    </service>
</definitions>
