wsdl/UserServiceAPI.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://API.oc.sd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.oc.sd.com/" name="UserAPI">
<types>
<xsd:schema>
<xsd:import namespace="http://API.oc.sd.com/" schemaLocation="http://localhost:8080/biblioservice_API_war/userAPI?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllUsers">
<part name="parameters" element="tns:findAllUsers"/>
</message>
<message name="findAllUsersResponse">
<part name="parameters" element="tns:findAllUsersResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="findUserById">
<part name="parameters" element="tns:findUserById"/>
</message>
<message name="findUserByIdResponse">
<part name="parameters" element="tns:findUserByIdResponse"/>
</message>
<message name="findUserByUsername">
<part name="parameters" element="tns:findUserByUsername"/>
</message>
<message name="findUserByUsernameResponse">
<part name="parameters" element="tns:findUserByUsernameResponse"/>
</message>
<portType name="UserServiceAPI">
<operation name="findAllUsers">
<input wsam:Action="http://API.oc.sd.com/UserServiceAPI/findAllUsersRequest" message="tns:findAllUsers"/>
<output wsam:Action="http://API.oc.sd.com/UserServiceAPI/findAllUsersResponse" message="tns:findAllUsersResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://API.oc.sd.com/UserServiceAPI/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://API.oc.sd.com/UserServiceAPI/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="findUserById">
<input wsam:Action="http://API.oc.sd.com/UserServiceAPI/findUserByIdRequest" message="tns:findUserById"/>
<output wsam:Action="http://API.oc.sd.com/UserServiceAPI/findUserByIdResponse" message="tns:findUserByIdResponse"/>
</operation>
<operation name="findUserByUsername">
<input wsam:Action="http://API.oc.sd.com/UserServiceAPI/findUserByUsernameRequest" message="tns:findUserByUsername"/>
<output wsam:Action="http://API.oc.sd.com/UserServiceAPI/findUserByUsernameResponse" message="tns:findUserByUsernameResponse"/>
</operation>
</portType>
<binding name="UserServiceAPIPortBinding" type="tns:UserServiceAPI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUserByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserAPI">
<port name="UserServiceAPIPort" binding="tns:UserServiceAPIPortBinding">
<soap:address location="http://localhost:8080/biblioservice_API_war/userAPI"/>
</port>
</service>
</definitions>